@{
    ViewData["Title"] = "E-posta Onayı";
}
<head>
    <link rel="stylesheet" href="~/css/email.css" /> <!-- Düzeltildi: Kapanış açısı eklendi -->

        <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<div id="container">
    <div id="success-box">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="face">
            <div class="eye"></div>
            <div class="eye right"></div>
            <div class="mouth happy"></div>
        </div>
        <div class="shadow scale"></div>
        <div class="message"><h1 class="alert">E-posta Onayı Başarılı!</h1></div>
    </div>
</div>